<section class="advantages">
        <h2 class="visually-hidden">Our advantages</h2>
        <ul class="advantages-list list">
          <li class="advantages-item">
            <h3 class="advantages-subtitle">Strategy</h3>
            <p class="advantages-text">
              Our goal is to identify the business problem to walk away with the
              perfect and creative solution.
            </p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-subtitle">Punctuality</h3>
            <p class="advantages-text text">
              Bring the key message to the brand's audience for the best price
              within the shortest possible time.
            </p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-subtitle">Diligence</h3>
            <p class="advantages-text">
              Research and confirm brands that present the strongest digital
              growth opportunities and minimize risk.
            </p>
          </li>
          <li class="advantages-item">
            <h3 class="advantages-subtitle subtitle">Technologies</h3>
            <p class="advantages-text">
              Design practice focused on digital experiences. We bring forth a
              deep passion for problem-solving.
            </p>
          </li>
        </ul>
      </section>