<section class="doing">
  <h2 class="doing-title title">What are we doing</h2>
  <ul class="doing-list list">
    <li class="doing-item">
      <img src="./img/img1.jpg" alt="monitor screen" width="360" height="300" />
    </li>
    <li class="doing-item">
      <img
        src="./img/img2.jpg"
        alt="smartphone screens"
        width="360"
        height="300"
      />
    </li>
    <li class="doing-item">
      <img
        src="./img/img3.jpg"
        alt="laptop and phone"
        width="360"
        height="300"
      />
    </li>
  </ul>
</section>
