<header class="header">
  <nav class="header-navigation">
    <a href="./index.html" class="header-logo logo"> <span>Web</span>Studio </a>
    <ul class="header-list list">
      <li class="header-item">
        <a href="./index.html" class="header-link link">Studio</a>
      </li>
      <li class="header-item">
        <a href="./portfolio.html" class="header-link link">Portfolio</a>
      </li>
      <li class="header-item">
        <a href="" class="header-link link">Contacts</a>
      </li>
    </ul>
  </nav>
  <address class="address">
    <ul class="address-list list">
      <li class="address-item">
        <a href="mailto:info@devstudio.com" class="address-link link"
          >info@devstudio.com</a
        >
      </li>
      <li class="address-item">
        <a href="tel:+110001111111" class="address-link link"
          >+11 (000) 111-11-11</a
        >
      </li>
    </ul>
  </address>
</header>
